TURSO_DATABASE_URL=libsql://beerleague-jstnhbbs.aws-us-east-2.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3ODM0NTcwNTIsImlkIjoiMDE5ZjNlNTItOWQwMS03MjU2LTkzZGItOTRhNTNjYzMwODE5Iiwia2lkIjoiNzRkOFRBLS1JdUtmQ3BvNWZuMkVVUkxqTlI1QUNzdlFDRDNTTXc4OHJfRSIsInJpZCI6ImVhZmFmNmVjLTRlZjQtNDNiOS05Mzg4LTVlNGYwNDk1ZDM3MyJ9.2gFSGYLHbPD5pzXvlzYzf609aIxv0x2U4MiRJRV4XkitF-GUAJohrK1zmZkJY1zlPG-IDMdVD8wCf2R4KpGxAw
ADMIN_PASSWORD=Br3ak@way89
ADMIN_SESSION_SECRET=a3f8c2e91b4d7f6e8c0a1b2d3e4f5a6b7c8d9e0f1a2b3c4d5e6f7a8b9c0d1
SPREADSHEET_PATH=/Users/justinhobbs/Downloads/Beer League History.xlsx
